/* ------ Спецификация ------ */

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #000;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1166px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 15px;
    line-height: 1.8em;
	letter-spacing: 0.02em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	line-height: 1.15em;
	letter-spacing: 0.12em;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

{
	outline: none;
}

.btn {
	height: 13px;
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	width: 212px;
	height: 45px;
	padding-top: 13px;
	border-radius: 23px;
	background-color: #ffffff;
	display: inline-block;
	text-align: center;
}
.btn:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}
.btn:active {
	background-color: #8c8c8c;
}

/* ------ Первая секция ------ */


.header {
	padding-top: 63px;
	padding-bottom: 19px;
	background: #262b1e url(../img/slider.jpg) no-repeat center top/ cover;
	position: relative;
}

.navigation__link a {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 1.4px;
}

.navigation__link a:hover {
	color: #212121;
	border-bottom: 3px solid #212121;
	padding-bottom: 10px;
	width:200%;
}
.offer__subtitle {
	color: #43a047;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.offer__title {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: -0.06em;
}
.offer__text {
	max-width: 458px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
}

.offer__arrow {
	margin-left: 10px;
}
.pangination__circle_active {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #212121;
	margin-right: 9px;
    margin-left: 9px;
    margin-top: -8px;
}
.pangination__circle {
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background: #c7c7c7;
}
.navigation__logo {
	margin-right: 373px;
	margin-bottom: 274px;
}
.offer__button {
	margin-top: 28px;
	margin-bottom: 183px;
	letter-spacing: 3.6px;
}
.pangination {
	position: absolute;
	left: 703px;
	bottom: 20px;
}
.navigation__search {
	margin-left: 22px;
}
.pangination__circle:hover {
	background: #212121;
}

/* ------ Вторая секция ------ */

.featured {
	padding-top: 112px;
	padding-bottom: 121px;
}
.new {
	padding-top: 112px;
	margin-bottom: 50px;
}
.new__first {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	border-bottom: 3px solid #212121;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 20px;
	letter-spacing: -0.03em;
}
.new__second {
	color: #6c6c6c;
	font-size: 36px;
	font-weight: 700;
	border-bottom: 1px solid #6c6c6c;
	padding-bottom: 10px;
	padding-left: 5px;
	display: block;
    padding-right: 30px;
}
.new__text {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	margin-left: 685px;
	padding-top: 19px;
}
.works__arrow {
	width: 48px;
	height: 48px;
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 24px;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
}
.works__arrow img {
	padding-top: 12px;
}
.works__subtitle {
	color: #212121;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	margin-top: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}
.works__text {
	width: 210px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
    margin-left: 27px;
}

.works__box {
	display: block;
	width: 270px;
	text-align: center;
	padding-top: 57px;
}

.works__box {
	background: #fcfcfc;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.works__picture {
	position: relative;
	cursor: pointer;
	margin-bottom: 64px;
	max-width: 270px;
	margin: 0 auto 32px;
}

.works__picture:hover .works__box  {
	opacity: 0.8;
	border: 1px solid #a4a4a4;
}

.works__img {
	display: block;
	max-width: 100%;
}
.works {
	padding-bottom: 87px;
}

/* ------ Третья секция ------ */

.exclusive__box1 {
	background: #262b1e url(../img/phon1.jpg) no-repeat center top/ cover;
	padding-top: 220px;
	padding-bottom: 256px;
	padding-left: 52px;
	height: 683px;
	width: 100%;
}
.exclusive__box2 {
	background: #262b1e url(../img/phon2.jpg) no-repeat center top/ cover;
	padding-top: 220px;
	padding-bottom: 256px;
	padding-left: 52px;
	height: 683px;
	width: 100%;
}

.exclusive__subtitle {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.exclusive__title {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -0.02em;
	margin-bottom: 12px;
}

.exclusive__text {
	width: 374px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	line-height: 24.04px;
	letter-spacing: -0.02em;
	margin-bottom: 28px;
}
.exclusive__button {
	letter-spacing: 0.2em;
}

/* ------ Четвертая секция ------ */

.trend {
	padding-top: 115px;
	padding-bottom: 120px;
	display: block;
}
.trend__title {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -0.02em;
}
.trend__text {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	margin-top: 15px;
}
.trend__content {
	margin-bottom: 68px;
}
.trend__pictures1 {
	margin-bottom: 30px;
}


/* ------ Пятая секция ------ */

.deal {
	padding-top: 282px;
	padding-bottom: 286px;
	background: #262b1e url(../img/slider2.jpg) no-repeat center top/ cover;
	position: relative;
}
.deal__subtitle {
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.deal__title {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 12px;
	letter-spacing: -0.06em;
}

.deal__text {
	max-width: 458px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
	margin-bottom: 25px;
}
.deal__pangination {
	position: absolute;
	left: 703px;
	bottom: 20px;
}
.deal__button {
	margin-top: 28px;
	margin-bottom: 183px;
	letter-spacing: 3.6px;
}

/* ------ Шестая секция ------ */


.furniture {
	padding-top: 120px;
	padding-bottom: 120px;
}
.furniture__box1 {
	background: #262b1e url(../img/product1.jpg) no-repeat center top/ cover;
	padding-top: 177px;
	padding-bottom: 256px;
	padding-left: 35px;
	height: 570px;
	width: 570px;
	margin-right: 30px;
}
.furniture__subtitle {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.furniture__title {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -0.02em;
	margin-bottom: 12px;
}

.furniture__text {
	width: 374px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	line-height: 24.04px;
	letter-spacing: -0.02em;
	margin-bottom: 28px;
}
.furniture__button {
	letter-spacing: 0.2em;
}
.furniture__box2 {
	margin-bottom: 30px;
}
.furniture__box2 img:first-child {
	margin-right: 30px;
}
.furniture__box3 img:first-child {
	margin-right: 30px;
}


/* ------ Седьмая секция ------ */

.mobile {
	padding-top: 125px;
	padding-bottom: 120px;
	background: #262b1e url(../img/back.jpg) no-repeat center top/ cover;
}
.mobile__subtitle {	
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.mobile__title {	
	width: 410px;
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: -0.08em;
}
.mobile__text {
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -0.02em;
	margin-bottom: 27px;
}
.mobile__app {
	margin-right: 10px;
}

/* ------ Восьмая секция ------ */


.contact {
	padding-top: 120px;
	padding-bottom: 60px;
	background-color: #f7f7f7;
	position: relative;
}
.contact__title {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin-bottom: 14px;
}
.contact__text {	
	color: #212121;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.02em;
}
.information__sentence {
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}
.contact__text_first {
	margin-bottom: 16px;
}
.contact__address {
	margin-right: 80px;
}
.information__content {
	max-width: 426px;
}
.stay {
	max-width: 370px;
	margin-left: 68px;
}
.information__box1 {
	margin-right: 95px;
	width: 140px;
}
.information__box2 {
	width: 196px;
}
.stay__input {
	width: 370px;
	height: 48px;
	border: 1px solid #d9dee1;
	background-color: #ffffff;
	margin-top: 20px;
	padding-left: 20px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.04em;
}
.fab {
	/* Style for "" */
	width: 21px;
	height: 17px;
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 400;
	position: absolute;
	right: 200px;
    top: 235px;
}

/* ------ Девятая секция ------ */

.footer {
	padding-bottom: 34px;
	background: #f7f7f7;
}
.copy__text {
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.copy {
	align-items: center;
}


/* ------ Contacts ------ */

.contacts {
	padding-top: 63px;
	padding-bottom: 15px;
	background: #f5f5f5;
}

.contacts__title {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	margin-bottom: 12px;
	letter-spacing: -0.06em;
}
.cities__content {
	border: 1px solid #a6a6a6;
	padding: 44px 47px 60px 47px;
	max-width: 370px;
	text-align: center;
	margin-top: 71px;
	margin-bottom: 125px;
	margin-right: 30px;
}
.fa-map-marker-alt {
	font-size: 48px;
}
.cities__content h3 {
	color: #212121;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 32px;
	margin-bottom: 15px;
	letter-spacing: -0.02em;
}
.cities__content span{
	font-size: 14px;
	font-weight: 700;
	color: #6c6c6c;
	letter-spacing: -0.02em;
}
.cities__text2 {
	font-size: 14px;
	font-weight: 700;
	color: #212121;
	margin-bottom: 6px;
	letter-spacing: -0.02em;
}
.cities__text {
	font-size: 14px;
	font-weight: 400;
	color: #6c6c6c;
	letter-spacing: -0.02em;
}
.logo2 {
	margin-bottom: 94px;
}
.cities__content:last-child {
	margin-right: 0;
}

/* ------ Product ------ */

.navigation__menu2 {
	padding-top: 70px;
	margin-bottom: 70px;
}
.navigation__link2 a{
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 1.4px;
}

.navigation__link2 a:hover {
	color: #212121;
	border-bottom: 3px solid #212121;
	padding-bottom: 10px;
	width:200%;
}
.box2 {
	margin-bottom: 30px;
}
.trend2 {
	padding-bottom: 62px;
}
.range__img {
	margin: 0 auto 130px;
	display: block;
}



/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
	
}

/* 768-1100px */
@media screen and (max-width: 1100px) {
	.container {
		width: 700px;
	}
	.navigation {
		flex-direction: column;
		margin-bottom: 274px;
	}
	.navigation__logo {
		margin: 0 auto 30px;
	}
	.navigation__menu {
		margin: 0 auto;
	}
	.new {
		flex-direction: column;
		margin: 0 auto;
	}
	.new__text {
		margin: 0 auto 30px;
	}
	.works {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.trend__content {
		flex-direction: column;
		margin: 0 auto 30px;
	}
	.trend__pictures1 {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: 30px;
	}
	.trend__pictures2 {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.trend__pictures {
		display: flex;
	}
	.furniture__content {
		flex-direction: column;
		margin: 0 auto;
	}
	.furniture__box1 {
		margin-bottom: 30px;
	}
	.contact__content {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.contact__address {
		margin: 0 auto 30px;
	}
	.information {
		margin: 0 auto 30px;
	}
	.stay {
		margin: 0 auto 30px;
	}
	.fab {
		display: none;
	}
	.copy__img {
		margin-right: 20px;
	}
}

/* 768-992px */
@media screen and (max-width: 992px) {
	.container {
		width: 700px;
	}
	.pangination {
		display: none;
	}
	.deal__pangination {
		display: none;
	}
	.exclusive__content {
		flex-direction: column;
	}
	.trend__pictures {
		flex-direction: column;
		margin: 0 auto;
	}
}

/* 576-768px */
@media screen and (max-width: 768px) {

	.container {
		width: 520px;
	}
	.navigation__menu {
		display: none;
	}
}

/* 320-576px */
@media screen and (max-width: 576px) {

	.container {
		width: 80%;
	}
	.furniture__box1 {
		width: 100%;
	}
	.furniture__box2 {
		flex-direction: column;
		margin: 0 auto;
	}
	.furniture__box3 {
		flex-direction: column;
		margin: 0 auto;
	}
	.furniture__box2 img {
		margin-bottom: 30px;
		width: 80%
	}
	.furniture__box3 img {
		margin-bottom: 30px;
		width: 80%
	}
	.exclusive__text {
		width: 100%;
	}
	.trend__pictures1 img {
		width: 100%;
	}
	.trend__pictures2 img {
		width: 100%;
	}
	.information__content {
		flex-direction: column;
	}
	.stay__input {
		width: 100%;
	}
	.copy {
		flex-direction: column;
	}
	.copy__img {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.mobile__title {
		width: 100%;
	}
	.furniture__text {
		width: 100%;
	}

}



